boto3==1.11.9
botocore==1.14.9
certifi==2019.11.28
chardet==3.0.4
Click==7.0
docutils==0.15.2
elasticsearch==7.5.1
idna==2.8
jmespath==0.9.4
joblib==0.14.1
nltk==3.4.5
numpy==1.18.1
python-dateutil==2.8.1
regex==2020.1.8
requests==2.22.0
s3transfer==0.3.2
sacremoses==0.0.38
scikit-learn==0.22.1
scipy==1.4.1
sentence-transformers==0.2.5
sentencepiece==0.1.85
six==1.14.0
torch==1.4.0
tqdm==4.42.0
transformers==2.3.0
urllib3==1.25.8
